# Unity klasörleri
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Kişisel ayar dosyaları
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# IDE klasörleri
.vscode/
.idea/

# Asset Store dosyaları
*.unitypackage
# Unity editor & Plastic SCM ayarları
.plastic/
UserSettings/
Assets/TextMesh Pro/Examples & Extras/
