# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/

# Visual Studio / Rider / VSCode
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs

# Asset Store packages
*.unitypackage

# TextMeshPro extras (isteğe bağlı)
Assets/TextMesh Pro/Examples & Extras/
